.categories{
	margin-bottom: 45px;

	&-wrap {
		display: grid;
		grid-gap: 25px;
	}

	&-row {
		display: grid;
		height: 430px;
		grid-template-columns: 1fr 1fr 2fr;
		&__bottom{
			grid-template-columns: 1fr 3fr;
		}
	}

	&-items {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-gap: 25px;
		&__bottom {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&-item {
		display: flex;
		background: $light-beige;
		border-radius: 3px;
		color: white;
		margin: 10px;
		font-size: 15px;
		height: 100%;
		
		&:hover {
			background-color: darken($light-beige, 5%);
		}

		&-text {
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: flex-end;
			padding: 25px 18px;
			height: 100%;
			width: 100%;
		}

		&-img {
			width: 80px;
			margin-bottom: 10px;
		}

		&-descr {
			width: 75%;
			color: #433e3d;
			font-weight: 700;
			text-transform: uppercase;
			z-index: 1;
		}

		&-bg {
			position: relative;
			background: url(../img/categories/boiler.jpg) no-repeat;
			background-size: cover;

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 35%;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10% rgba(255, 255, 255, 1) 30%, rgba(229, 210, 196, 1) 63%, rgba(229, 210, 196, 1) 100%);
				z-index: 0;
				border-radius: 3px;
			}

			&:hover::before {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10% rgba(255, 255, 255, 1) 30%, darken(rgb(229, 210, 196), 5%) 63%, darken(rgb(229, 210, 196), 5%) 100%);
				border-radius: 3px;
			}

			&-big {
				background: url(../img/categories/gutter_system.jpg) no-repeat;
				background-size: cover;
			}
		}
	}
}

.ml0 {
	margin-left: 0;
}

.mr0 {
	margin-right: 0;
}

.descr-100{
	width: 100%;
}
